

body {
    /* background-image: url("/images/pg.jpg"); */
    background-size: cover;
   
  }
  #schedulhero {
    margin-top: 50px;
    width: 1395px;
    height: 555px;
    background-color: rgb(199, 210, 219) ;
    

  }
  #Vwcmpny {
    margin-top: 50px;
    height: 555px;
    background-color: rgb(199, 210, 219) ;
  }
  h3 {
    color: chartreuse;
  }
  #lg {
    margin-top:-50px;
    height: 480px;
    width: 500px;
    margin-left: 400px;
    border: 1px solid #eee6eb;
    background-color:rgb(7, 38, 60);
    opacity: .8;
  }
  #log
  {
    
   
    height: 100%;
    width: 800px;
    margin-left: 250px;
    border: 1px solid #eee6eb;
    background-color:rgb(7, 38, 60);
    opacity: .8;
  }
 input[type=text],input[type=password]{
    box-sizing: border-box;
    padding: 14px 20px;
    border-radius: 5px;
    width: 50%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
 }
 button{
    box-sizing: border-box;
    padding: 14px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder
}
h3{
    color: black;
}
h4{
    color:coral;
}